<navbar></navbar>



<div class="container">

	<h1 class="page-header">SEARCH</h1>

	<div class="row">
		<div class="col-lg-8">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="control-label col-lg-2" for="usr_srch">DOGGR USER</label>
					<div class="col-lg-4">
						<input type="text" class="form-control" id="usr"
							placeholder="{{default_user_search}}">
					</div>
					
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2" for="breeds_srch">BREEDS</label>
					<div class="col-lg-4">
					    <tags-input id="breeds_srch" ng-model="breeds" placeholder='Add a breed'></tags-input>
					</div>
				</div>
				
				
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			
			<ul class="col-md-4 col-lg-4 col-sm-12"
				ng-repeat="dog in dogs">
				<div class="dog">
				   <p> Caught by  {{dog.user_id}} </p>
                   <p> Name:   {{dog.name}} </p>
                   <img ng-src="api/pictures/{{dog.picture[0]}}"/>
				</div>
			</ul>
		</div>
	</div>
</div>

<footer></footer>





